# Mac OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Editors
.vscode
.idea

node_modules/
vendor/
wordpress/
build/
release/

# Sass
.sass-cache
.sass-cache/
.sass-cache/*
*.map
