.wp-block-sortabrilliant-guidepost {
	.sortabrilliant-guidepost-button {
		display: flex;
		padding: 17px;

		position: fixed;
		bottom: 30px;
		right: 30px;
		z-index: 999999;

		opacity: 0;

		background-color: rgba( 170, 170, 170, .5 );
		transition: background-color .3s, opacity .3s;

		&, &:hover {
			box-shadow: none;
		}

		&:hover {
			background-color: rgba( 170, 170, 170, 1 );
		}

		svg {
			position: relative;
			top: 3px;
			height: 26px;
			width: 26px;
		}

		&.visible {
			opacity: 1;
		}
	}
}
